<a href="https://colab.research.google.com/github/Usmanahmad9/practice-coding/blob/main/for_loops_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
list1=["usman","waqar","bilal","shaheel","shaqeeb"]
for item in list1:
  print(item)

usman
waqar
bilal
shaheel
shaqeeb

In [10]:
list1=[["honda civic", 45],["mehran",10],["alto", 25]]
for item,price in list1:
  print(item,"price is",price)

honda civic price is 45
mehran price is 10
alto price is 25

In [15]:
list2=[8,9,455,655,3,2,4,5,980,76,56]
for item in list2:
  if item>6:
    print(item)

8
9
455
655
980
76
56